@font-face {
    font-family: "LeagueGothic";
    src: url("../fonts/LeagueGothic/LeagueGothicRegular.eot");
    src: url("../fonts/LeagueGothic/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LeagueGothic/LeagueGothicRegular.woff") format("woff"),
    url("../fonts/LeagueGothic/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSans/OpenSansLight.eot");
    src: url("../fonts/OpenSans/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSans/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSans/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSansExtraBold.woff") format("woff"),
    url("../fonts/OpenSans/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
* {
	margin:0px;
	padding:0px;
	font-weight: 100;
	text-decoration:none;
	font-family: LeagueGothic;
}
body::-webkit-scrollbar {
  display: none;
}
.wrapper {
	background: url('../img/image.png') no-repeat center;
	background-size: cover;
	overflow: hidden;
}
h1 {
	color: white;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	font-size: 48px;
}
span, .footer h1 {
/* 	background: linear-gradient(to bottom,  #745083 0%,#33263a 100%);, #745083; */
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #33263a),color-stop(1, #745083));, #745083;
/* 	background-image: -moz-linear-gradient(top, #745083, #33263a); */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33263a', endColorstr='#745083')";
	-webkit-text-fill-color: transparent;
	text-shadow: none;
	-webkit-background-clip: text;
	color: #745083;
}
*+span, *+.footer h1 {
	
}
.container {
	min-width: 280px;
	max-width: 959px;
	margin: auto;
	overflow: hidden;
}
.header {
	margin:70px 0px;
	height: 150px;
}
.header__logo {
	font-family: LeagueGothic;
	float:left;
}
.header__menu {
	float: right;
	padding-top: 15px;
}
.header__submenu {
	display: none;
}
li {
	display: inline;
	padding-left: 40px;
	list-style:none;
}
li a {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	padding: 5px 5px 5px 7px;
	font-size: 24px;
	font-family: LeagueGothic;
}
.header__menu li a:hover {
	border-bottom: 2px solid #edbfff;
	padding: 5px 5px 0px 7px;
}

.slider {
	clear:both;
	background-color: hsla(0, 0%, 0%, 0.3);
}

.slider__sidebar {
	float: left;
	width: 60%;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	padding: 80px 0 85px 0;
	overflow:hidden;
}
.slider__image {
	float: right;
	padding-top: 50px;
}
.sidebar-header {
	color: white;
	font-size: 60px;
	font-family: LeagueGothic;
	line-height: 54px;
	white-space:nowrap;
}
.sidebar-blue {
	color: #edbfff;
	font-size: 32px;
	font-family: LeagueGothic;
	white-space:nowrap;
}

.sidebar-article {
	color: white;
	font-size: 18px;
	font-family: OpenSansLight;
	padding-top: 5px;
	line-height: 24px;
}
.nav {
	float:right;
	margin-top: 93px;
	margin-bottom: 60px;
	height: 17px;
	margin-right: 140px;
}
.nav__item {
	float: left;
	height: 17px;
	width: 17px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	position: relative;
	margin-bottom:50px;
	margin-right: 5px;
	padding:0px;
	right: -40px;
}
.nav__item.active:before {
	content: "";
	box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.8);
	height: 11px;
	width: 11px;
	border-radius: 50%;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #d4d4d4 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#d4d4d4 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#d4d4d4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0 );

	position: absolute;
	top: 3px;
	left: 3px;
}
.about {
	background: #745083;
	background: -moz-linear-gradient(top,  #745083 1%, #322539 100%);
	background: -webkit-linear-gradient(top,  #745083 1%,#322539 100%);
	background: linear-gradient(to bottom,  #745083 1%,#322539 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
	border-top: 1px #33253a solid;
	border-bottom: 1px black solid;
}
.about__content {
	float:left;
	width: 28.5%;
	margin: 80px 0 0 40px;
	color: white;
	box-sizing: border-box;
	padding-bottom: 70px;
	word-break: break-all;
}
.about__content p {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	max-width: 275px;
}
.about__content a {
	float: right;
	padding-top: 24px;
	font-size: 18px;
	color: white;
	width: 60px;
}
.about__content a:hover {
	text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
.about__content:before {
	margin: 12px 0px 0px -40px;
	position:absolute;
	content:"";
	background: url(../img/blurbs-sprite.png) 0px 0px no-repeat;
	height: 30px;
	width: 32px;
}
.about__content:first-child:before {
	background-position: 0px 0px;
}
.about__content:nth-child(2):before {
	background-position: -32px 0px;
}
.about__content:nth-child(3):before {
	background-position: -64px 0px;
}
.about__content-header {
	color: white;
	font-size: 30px;
	font-family: LeagueGothic;
	padding-bottom: 5px;
}
.about__content-text {
	color: white;
	font-size: 16px;
	font-family: OpenSansLight;
	padding-bottom: 5px;
	line-height: 24px;

}
.testimonial {
	clear: both;
	padding-top: 100px;
	background-color: #f9f9f9;
	overflow: hidden;
	margin: auto;
	border-top: 1px white solid;
	border-bottom: 1px #e6e6e6 solid;
}
.testimonial__image img {
	position:absolute;
	z-index: 3;
	padding-top: 18px;
}
.testimonial__text {
	float: left;
	background: url('../img/blog.png') 100% 100%;
	background-size: cover;
	margin-left: 23px;
	width: 43%;
	height: 295px;
}
.testimonial__context-blog {
	position:relative;
	z-index: 2;
	padding: 25px 50px 0px 40px;
}
.testimonial__context-blog h4 {
	float:left;
	color:#454545;
	font-size: 30px;
	padding-right: 5px;
}
.context-blog-blue {
	font-size: 30px;
	float:left;
	color: #edbfff;
	background: none;
}
.testimonial__context-blog p {
	clear:both;
	font-size: 16px;
	font-family: OpenSansLight;
	height:200px;
	overflow:hidden;
}
.testimonial .nav {
	float: right;
	position: relative;
	margin-top: 0px;
	margin-bottom: 70px;
	left: -570px;
}
.testimonial .nav__item {
	background: white;
	box-shadow: 1px 1px 0px 0 rgba(255, 255, 255, 1);
	border:1px solid #e6e6e6; 
	height: 17px;
	width: 17px;
}
.testimonial .nav__item.active:before {
	content: "";
	box-shadow: 0px 0px 0px;
	border-radius: 50%;
	background: #6a6a6a;
	background: -moz-linear-gradient(top,  #6a6a6a 0%, #454545 100%);
	background: -webkit-linear-gradient(top,  #6a6a6a 0%,#454545 100%);
	background: linear-gradient(to bottom,  #6a6a6a 0%,#454545 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#454545',GradientType=0 );
	height: 11px;
	width: 11px;
	position: absolute;
	top: 2px;
	left: 2px;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
}
.testimonial__recent {
	float: left;
	width: 50%;
	overflow: hidden;
	box-sizing: border-box;
	margin: 30px 0px 0px 25px;
}
.testimonial__recent h4 {
	font-size: 30px;
	color:#454545;
	padding-bottom: 10px;
}
.testimonial__recent-block {
	clear:both
}
.testimonial__recent-block li {
	padding: 0;
	float:left;
	font-size: 16px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: clip;
}
.testimonial__recent-block li:nth-child(2) {
	padding: 5px 0 15px 15px;
	width: 82%;
}
.testimonial__recent-block h5 {
	font-family: OpenSansExtraBold;
	font-size: 16px;
	color:#454545;
}
.testimonial__recent-block p {
	font-family: OpenSansLight;
	color:#454545;
}
.testimonial__recent-end li {
	float: right;
	/* padding-bottom:100px; */
}
.testimonial__recent-end a, .testimonial__recent-end-2 a {
	font-size: 18px;
	color:#454545;
	text-shadow:none;
}
.testimonial__recent-end a:hover {
	text-decoration:none;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
.testimonial__recent-end-2 {
	display:none;
	float: right;
	padding: 10px 25px 10px 0;
}
.testimonial__recent-end-2 a:hover {
	text-decoration:none;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
.logos {
	background-color: #f9f9f9;
	border-top: 1px #FFF solid;
	border-bottom: 1px #FFF solid;
}
.logos ul {
	width:auto;
	text-align:center;
}
.logos li {
	padding: 0;
	float:left;
	width: 16.667%;
	margin-top: 35px;
	line-height: 78px;
	vertical-align: middle;
}
.footer {
	background-color: #ececec;
	border-top: 1px #d8d8d8 solid;
	overflow:hidden;
}
.footer__silver {
	padding-bottom: 70px;
	padding-left: 20px;
	overflow: hidden;
}
.footer__silver-block {
	float:left;
	width: 30%;
	margin: 80px 0 0 0px;
	color: white;
	/*	 padding-bottom: 70px; */
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
.footer__silver-block:nth-child(2) {
	padding: 0px 5%;
}
.footer__silver-block:nth-child(3) {
	float:right;
}
.footer__silver-block h1 {
	color:#454545;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	padding-bottom: 5px;
	line-height: 55px;
}	
.footer__silver-block span {
	text-shadow: none;
	color:#b9b9b9;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}
.footer h3 {
	font-size:30px;
	color: #454545;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}
.footer-copyright {
	font-family: Georgia;
	font-size:16px;
	font-style:italic;
	color:#c5c5c5;
}
.footer-text {
	font-family:OpenSansLight;
	font-size:16px;
	color: #787878;
	padding-top: 10px;
	width: 92%;
}
.footer__end {
	padding-bottom:50px;
	clear:both;
	margin: auto;
	background: url(../img/image-footer.png) no-repeat center;
	background-size: cover;
	overflow: hidden;
	/* height: 114px; */
}
.footer__end-menu ul {
	vertical-align: baseline;
	padding-top: 50px;
}
.footer__end-menu li:first-child {
	padding-left:0px;
}
.footer__end-menu li a {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.footer__end-designer {
	float:right;
	padding-top: 40px;
	color:white;
	font-size: 12px;
}
.footer__end-designer a {
	font-family: OpenSansLight;
	padding-right: 2px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.footer__end-designer span {
	color:white;
	font-family: OpenSansExtraBold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) and (max-width: 959px) {
	.container {
		max-width: 728px;
	}
	.header__menu {
		padding-top: 10px;
		float:left;
		clear:both;
		margin:0px 0px 0px 0px;
	}
	.header__menu li:first-child, .header__menu li a:first-child  {
		padding-left:0px;
	}
	.slider__sidebar {
		width: 380px;
		text-overflow: clip;
		float: left;
	}
	.nav {
	float:right;
	margin-top: 37px;
	margin-bottom: 100px;
	height: 17px;
	margin-right: 130px;
	}
	.about__content {
		max-width: 160px;
	}
	.about__content-header {
		font-size:24px;
	}
	.about__content:nth-child(2) {
		margin-right: 50px;
		margin-left: 95px;
	}
	.about__content:last-child {
		margin-right:20px;
	}
	.testimonial__recent-block li:nth-child(2) {
		padding: 5px 0 8px 15px;
		width: 260px;
	}
	.testimonial__recent-end {
		display:none;
	}
	.testimonial__recent-end-2 {
		display:block;
	}
	.testimonial .nav {
		float: right;
		position: relative;
		margin-top: 0px;
		margin-bottom: 70px;
		/* top: 9px; */
		left: -410px;
	}
	.testimonial .nav__item {
		background: white;
		box-shadow: 1px 1px 0px 0 rgba(255, 255, 255, 1);
		border:1px solid #e6e6e6; 
		height: 17px;
		width: 17px;
	}
	.testimonial .nav__item.active:before {
		content: "";
		box-shadow: 0px 0px 0px;
		border-radius: 50%;
		background: #6a6a6a;
		height: 11px;
		width: 11px;
		position: absolute;
		top: 2px;
		left: 2px;
		border: 1px solid rgba(0,0,0,0.1);
		box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	}
	.footer h3 {
		font-size:24px;
	}
	 .footer__end-menu li {
		padding-left:15px;
	}
	.footer__end-menu li a {
		font-size:20px;
	}
	.footer__end-designer {
		float:right;
		clear:both;
		padding-right: 20px;
	}
	.footer__silver-block {
		width: 30%;
		height: 195px;
		overflow: hidden;
	}
}
@media (max-width: 767px) and (min-width: 480px) {
	.container {
		max-width: 442px;
	}
	.header__logo {
		display: block;
		width: 442px;
		text-align:center;
	}
	.header__menu {
		display:none;
	}
	.header__submenu {
		clear:both;
		display:block;
		overflow: hidden;
		font-size: 24px;
		margin: 30px auto;
		width: 250px;
	}
	.header__submenu li {
		padding-left:0px;
	}
	.header__submenu-top {
		position:relative;
		width: 252px;
		margin: auto;
		text-align: center;
	}
	.header__submenu-top a {
		display:block;
	}
	.header__submenu-top > a {
		border-bottom: 2px solid #edbfff;
		margin: 0px 100px;
		padding:10px 6px 2px 6px;
		margin-bottom: 4px;
	}
	.header__submenu-top a:hover {
		text-decoration:none;
	}
	.header__submenu-hide a {
		border-radius: 0px;
		margin-bottom:1px;
	}
	.header__submenu-hide:last-child > a {
		border-radius: 0 0 10px 10px;
	}
	.header__submenu-hide {
		display:none;
		width: 250px;
		height: 43px;
		height: 42px;
		height: 43px;
		height: 42px;
		box-sizing: border-box;
	}
	.header__submenu-top:hover .header__submenu-hide {
		display:block;
	}
	.header__submenu:hover {
		border: 1px solid black;
		border-radius: 10px;
		background: rgba(54, 41, 62, 0.9);
		position: relative;
		top: -1px;
		/* left: 15px; */
		/* width: 244px; */
	}
	.header__submenu:hover .header__submenu-hide {
		border-top: 1px solid rgba(105, 82, 114, 0.59);
		border-bottom: 1px solid rgba(53, 39, 61, 1);
		width: auto;
	}
	.header__submenu-hide a:hover {
		text-decoration:none;
		border-bottom: 2px solid #edbfff;
		background: rgba(0, 0, 0, 0.3);
	}
	.slider__sidebar {
		width: 210px;
	}
	.slider img {
		width: 180px;
		height: 300px;
	}
	.sidebar-header {
		font-size: 36px;
		line-height:normal;
	}
	.sidebar-blue {
		font-size: 18px;
	}
	.sidebar-article {
		display: none;
	}
	.nav {
		margin-top: 20px;
		margin-right: 200px;
	}
	.about__content {
		float:none;
		width:90%;
		margin-top:0px;
		padding-right:0px;
	}
	.about__content p {
		max-width: 380px;
	}
	.about__content-header {
		font-size:24px;
	}
	.about__content-text {
		font-size:16px;
	}
	.about__content:first-child {
		margin-top: 75px;
	}
	.about__content:last-child {
		margin-bottom: 70px;
	}
	.testimonial__text {
		float: left;
		background: white;
		margin-left: 23px;
		width: 465px;
		height: 270px;
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
		white-space:wrap;
	}
	.testimonial__context-blog p {
		padding-top:10px;
		/* width: 360px; */
	}
	.testimonial__recent {
		float: left;
		width: 400px;
		overflow: hidden;
		box-sizing: border-box;
		margin: 90px 0px 0px 65px;
	}
	.testimonial__recent-block li:nth-child(2) {
		padding: 5px 0 15px 15px;
		width: 260px;
	}
	.testimonial__recent-end {
		display:none;
	}
	.testimonial__recent-end-2 {
		display:block;
	}
	.testimonial .nav {
		float: left;
		position: relative;
		margin-bottom: 70px;
		top: -347px;
		left: 160px;
	}
	.testimonial .nav__item {
		background: white;
		box-shadow: 1px 1px 0px 0 rgba(255, 255, 255, 1);
		border:1px solid #e6e6e6; 
		height: 17px;
		width: 17px;
	}
	.testimonial .nav__item.active:before {
		content: "";
		box-shadow: 0px 0px 0px;
		border-radius: 50%;
		background: #6a6a6a;
		height: 11px;
		width: 11px;
		position: absolute;
		top: 2px;
		left: 2px;
		border: 1px solid rgba(0,0,0,0.1);
		box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	}
	.logos li {
		float:left;
		width: 33%;
		height: 65px;
		line-height: 65px;
	}
	.logos li:last-child {
		margin-bottom:35px;
	}
	.footer__silver {
	   padding-left:10px;
	   padding-bottom: 0;
	}
	.footer__silver-block {
		float: none;
		width:100%;
		padding:0px;
		margin-top: 60px;
	}
	.footer__silver-block:first-child  {
		margin-top:80px;
		/* height: 165px; */
	}
	.footer__silver-block:nth-child(2) {
		padding: 0;
	}
	.footer__silver-block:last-child  {
		margin-bottom:90px;
	}
	.footer__silver-block h1 {
		font-size:32px;
	}	
	.footer h3 {
		font-size:24px;
	}
	.footer__end-menu li {
		padding-left:0;
		width: auto;
		overflow: hidden;
	}
	.footer__end-menu li a {
		font-size:20px;
		padding: 0px 9px;
	}
	.footer__end-designer {
		clear:both;
		float:none;
		text-align:center;
		padding-top: 30px;
	}
	.footer__end {
		padding-bottom:85px;
	}
	.footer__end-designer a{
		font-size:12px;
	}
}
@media (max-width: 479px) {
	.container {
		width: 280px;
		color: black;
	}
	.header {
		height:120px;
	}
	.header__logo  {
		float: none;
		margin:auto;
		text-align:center;
	}
	.header__menu {
		display:none;
	}
	.header__submenu {
		clear:both;
		display:block;
		overflow: hidden;
		font-size: 24px;
		margin: 30px auto;
		width: 250px;
	}
	.header__submenu li {
		padding-left:0px;
	}
	.header__submenu-top {
		position:relative;
		width: 250px;
		margin: auto;
		text-align: center;
	}
	.header__submenu-top a {
		display:block;
	}
	.header__submenu-top > a {
		border-bottom: 2px solid #edbfff;
		margin: 0 102px;
		padding:10px 6px 2px 6px;
		margin-bottom: 4px;
	}
	.header__submenu-top a:hover {
		text-decoration:none;
	}
	.header__submenu-hide a {
		border-radius: 0px;
		margin-bottom:1px;
		height: 30px;
	}
	.header__submenu-hide:last-child > a {
		border-radius: 0 0 10px 10px;
	}
	.header__submenu-hide {
		display:none;
		width: 250px;
		height: 43px;
		height: 42px;
		height: 43px;
		height: 42px;
		box-sizing: border-box;
	}
	.header__submenu-top:hover .header__submenu-hide {
		display:block;
	}
	.header__submenu:hover {
		border: 1px solid black;
		border-radius: 10px;
		background: rgba(54, 41, 62, 0.9);
		position: relative;
		margin: 29px auto;
	}
	.header__submenu:hover .header__submenu-hide {
		border-top: 1px solid rgba(105, 82, 114, 0.59);
		border-bottom: 1px solid rgba(53, 39, 61, 1);
	}
	.header__submenu-hide a:hover {
		text-decoration:none;
		border-bottom: 2px solid #edbfff;
		background: rgba(0, 0, 0, 0.3);
		height: 28px;
	}
	.slider {
		background: none;
	}
	.slider__image, .sidebar-article {
		display: none;
	}
	.slider__sidebar {
		width: 210px;
		/* margin: auto; */
		padding: 60px 20% 0 20%;
	}
	.sidebar-header {
		font-size: 36px;
		line-height:normal;
	}
	.sidebar-blue {
		font-size: 18px;
		overflow: hidden;
	}
	.sidebar-article {
		display: none;
	}
	.nav {
		margin-top: 80px;
		margin-bottom: 68px;
		margin-right: 125px;
	}
	.about__content {
		float:none;
		width: 85%;
		margin-top:0px;
		padding-right:0px;
	}
	.about__content-header {
		font-size:24px;
	}
	.about__content-text {
		max-width: 240px;
		height:70px;
		font-size:16px;
		overflow:hidden;
	}
	.about__content p {
		max-width: 95%;
	}
	.about__content:first-child {
		margin-top: 75px;
	}
	.about__content:last-child {
		margin-bottom: 70px;
	}
	.testimonial
		h4, .context-blog-blue {
		font-size:24px;
		float:none;
	}
	.testimonial__text {
		float: left;
		background: white;
		margin-left: 23px;
		width: 255px;
		height: 270px;
		box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
	}
	.testimonial__context-blog p {
		padding-top: 5px;
		height: 155px;
	}
	.testimonial__recent {
		float: left;
		width: 321px;
		overflow: hidden;
		box-sizing: border-box;
		margin: 90px 0px 0px 0px;
	}
	.testimonial__recent-block
		li:nth-child(2) {
		padding: 5px 0 15px 10px;
		width: 260px;
	}
	.testimonial__recent-block
		h5 {
		width: 155px;
		overflow:hidden;
	}
	.testimonial__recent-end {
		display:none;
	}
	.testimonial__recent-end-2 {
		display:block;
		padding-right: 40px;
	}
	.testimonial .nav {
		float: left;
		position: relative;
		margin-bottom: 70px;
		top: -340px;
		left: 75px;
	}
	.testimonial .nav__item {
		background: white;
		box-shadow: 1px 1px 0px 0 rgba(255, 255, 255, 1);
		border:1px solid #e6e6e6; 
		height: 17px;
		width: 17px;
	}
	.testimonial .nav__item.active:before {
		content: "";
		box-shadow: 0px 0px 0px;
		border-radius: 50%;
		background: #6a6a6a;
		height: 11px;
		width: 11px;
		position: absolute;
		top: 2px;
		left: 2px;
		border: 1px solid rgba(0,0,0,0.1);
		box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5);
	}
	.logos
		li {
		float:left;
		width: 50%;
		height: 65px;
		line-height: 65px;
	}
	.logos
		li:last-child {
		margin-bottom:35px;
	}
	.footer {
		display:none;
	}
	.footer__end-menu ul {
		display:none;
	}
	.footer__end {
		text-align:center;
		margin: auto;
		padding-top:40px;
		padding-bottom:150px;
	}
	.footer__end-designer {
		float:none;
	}
}