body{
	background-color: #efefef;
	line-height: 20px;
	font-size: 14px;
}
.main{
	background-color: white;
	width: 400px;
	height: auto;
	margin: 0 auto;
	box-shadow: 0 0 5px 0 grey;
	padding-left: 30px;
}
.header h2 {
	padding-top: 20px;
	text-align:center;
}
.header {
	text-align: center;
}
.main a{
	text-decoration: none;
}
.line{
	width: 380px;
	border-bottom: 1px solid #7b7b7b;
}
.end{
	padding-bottom: 30px;
}
.other{
	margin-bottom: 1px;
}