<!DOCTYPE HTML>
<html lang="en-EN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="public/css/style.css" media="all">
	<script type="text/javascript" src="public/js/jquery.min(3.1.0).js"></script>
	<!-- <script src="src/js/scriptES6.js"></script> -->
	<script src="public/js/scriptES6.js"></script>
	<script src="public/js/template.js"></script>
	<!-- <script src="src/js/jasmine-core.js"></script> -->
	<!-- <script src="src/js/test.js"></script> -->
	<!-- <script>
		var jasmineEnv = jasmine.getEnv();
		var htmlReporter = new jasmine.HtmlReporter();
		jasmineEnv.addReporter(htmlReporter);
		jasmineEnv.specFilter = function(spec) {
			return htmlReporter.specFilter(spec);
		};

		window.onload = function() {jasmineEnv.execute();};
	</script> -->
</head>
<body>
<script type="text/html" id="opros">
	<header class="test">
		<div class="title"><a>Тест по программированию</a></div>
		<% for (var i = 0; i < questions.length; i++) { %>
			<div class="content"><a><%= questions[i].title %></a>
				<form name="question_<%= i %>" method="post" action="">
					<% for (var j = 0; j < questions[i].answers.length; j++) { %>
						<li><label><input type="radio" id="questions<%= i %>_lab<%= j %>" name="questions<%= i %>" value="answer1"><%= questions[i].answers[j] %></label></li>
					<% }; %>
				</form>
			</div>
		<% }; %>
		
		<button id="result">Проверить мои результаты</button>
	</header>
</script>
</body>