.slider {
	width: 768px;
	height: 400px;
	position: relative;
	overflow: hidden;
}
.slider::-moz-selection, #slider::selection {
	background: transparent;
	color: #fff;
	text-shadow: none;
}
.slider__list {
	width: 236px;
	height: 400px;
	position: relative;
	overflow: hidden;
	float: left;
	margin: 0px 10px;
}
.slider__wrap {
	width: 10000000px;
	position: relative;
}
.slider__item {
	position: relative;
	width: 236px;
	/* padding: 0 10px; */
	float: left;
}
.navy {
	position: absolute;
	top: 39px;
	height: 55px;
	width: 30px;
	cursor: pointer;
}
.prev-slide {
	left: 20px;
	background-image: url(../img/slider/left-arrow.png);
	background-position: 0px 12%;
	background-repeat: no-repeat;
}
.next-slide {
	right: 20px;
	background-image: url(../img/slider/right-arrow.png);
	background-position: 0px 0%;
	background-repeat: no-repeat;
}
/*.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}*/
@media (min-width: 1024px) {
	.slider {
		width: 960px;
		height: 400px;
	}
	.slider__list {
		width: 300px;
		height: 400px;
	}
	.slider__item {
		width: 300px;
	}
	.navy {
		top: 152px;
	}
}