/*Tablet*/
@media (max-width: 1023px) and (min-width: 768px) {
  .wrapper {
    min-width: 768px;
    /* width: 768px; */
    max-width: 1023px;
  }
  .promo {
    background-position-x: 50%;
  }
  .promo-background {
    height: 700px;
  }
  .promo__header, .promo__name {
    margin: 38px 50px 0 48px;
    padding: 0;
  }
  .promo__header {
    float: right;
  }
  .promo__name {
    float: left;
    margin-top: 46px;
  }
  .promo__header--btn {
    padding: 7px 16px 7px 17px;
  }
  .login {
    padding-right: 15px;
  }
  .promo__content {
    clear: both;
    padding-top: 114px;
  }
  .promo__content h1 {
    margin: 0 auto;
    font-size: 52px;
    width: 500px;
    padding-right: 5px;
    padding-bottom: 28px;
  }
  .promo__content--text {
    font-size: 24px;
    padding-right: 3px;
  }
  .promo__search {
    padding-top: 38px;
  }
  .promo__search--btn {
    padding: 10px 49px 8px 48px;
    border: none;
  }
  .about {
    margin: 93px auto 96px;
  }
  .about h3 {
    font-size: 22px;
  }
  .about .title {
    margin-left: 8px;
    margin-bottom: 34px;
    letter-spacing: -0.3px;
  }
  .steps {
    display: none;
  }
  #slider {
    display: block;
    margin: 0 auto;
    height: 400px;
  }
  .partners {
    position: relative;
    width: 768px;
  }
  .step-1 .step__main {
    margin-left: -1px;
  }
  .step-2 .step__block  {
  padding: 1px 9px 2px 11px;
  margin-left: 1px;
  }
  .step-2 .step__main {
    padding-bottom: 9px;
    margin-left: -1px;
  }
  .step-2 .step__content {
    letter-spacing: 0.1px;
    width: 200px;
  }
  .about__step {
    width: 236px;
    height: 400px;
    padding: 0;
    background-position: 53.5% 50%;
    background-size: auto;
    behavior: url(../PIE/PIE.htc);
  }
  .step-2 {
    background-position: -187px 425px;
  }
  .step-3 {
    background-position: 448px -23px;
  }
  .about__bg {
    position: relative;
    padding: 7px 15px ;
  }
  .btn__bg {
    background-color: #ff4e50;
    padding: 9px 23px 9px 18px;
    border: 2px solid #ff4e50;
    behavior: url(../PIE/PIE.htc);
  }
  .step__block {
    padding: 1px 10px 2px 11px;
  }
  .step__main {
    padding-top: 19px;
    padding-bottom: 11px;
    line-height: 28px;
  }
  .step__content {
    font-size: 17px;
    letter-spacing: -0.1px;
  }
  .partners__main  {
    line-height: 26px;
    margin-bottom: 32px;
    margin-left: 2px;
  }
  .partner__block {
    margin: 0px 100px 0px 125px;
    padding-bottom: 57px;
  }
  .partners__content {
    margin: 0 auto;
    text-align: center;
    width: 95%;
  }
  .partner__1, .partner__2 {
    float: left;
  }
  .partner__2 {
  padding-bottom: 36px;
  }
  .partner__3, .partner__4 {
    position: absolute;
    float: right;
    left: 276px;
  }
  .partner__4 {
    top: 317px;
    margin-left: 124px;
  }
  .partner__other {
    clear: both;
  }
  .partner__btn {
    padding: 9px 29px 9px 27px;
    margin-right: 2px;
  }
  .ideas {
    display: block;
    margin-top: 96px;
    overflow: hidden;
  }
  .promo .header, .footer__box, .ideas__box {
    width: 768px;
    margin: 0 auto;
  }
  .ideas__main {
    margin-bottom: 24px;
  }
  .ideas__img {
    padding: 0;
  }
  .grid-title {
    float: left;
    display: block;
  }
  .grid-item {
    width: 236px;
    height: 310px;
    margin: 10px;
  }
  .grid-item--width2 {
    width: 492px;
  }
  .search {
  margin-top: 86px;
  margin-bottom: 80px;
  clear: both;
  }
  .search__main {
  margin-bottom: 30px;
  }
  .search__article {
    margin-bottom: 27px;
  }
  input[type="text"] {
    margin: 0 4px 0 4px;
    width: 240px;
  }
  .search__btn {
    padding: 9px 21px 9px 21px;
    width: 160px;
    margin: 9px 6px 20px 2px;
  }
  .footer {
    padding-top: 36px;
  }
  .footer__name, .footer__company, .footer__partners, .footer__logo {
    float: left;
    width: 24%;
    margin: 0;
    padding: 0;
  }
  .footer__name {
    padding-left: 20px;
  }
  .footer__company {
    padding-left: 3px;
    text-align: left;
  }
  p.footer__item {
    padding-left: 58px;
  }
  .footer__partners {
    padding-left: 3px;
  }
  .footer__log {

  }
  .footer__partners .footer__item {
    padding: 0 40px 0 0;
  }
  .footer__list {
    padding-top: 6px;
  }
  .footer__list a {
    width: 100%;
  }
  .footer__list li {
    width: 50%;
    padding: 5px 1px 0 52px;
    list-style: none;
    text-align: left;
    letter-spacing: 0px;
  }
  .footer__des {
  padding-left: 45px;
  letter-spacing: 1px;
  }
  .footer__logo {
  float: right;
  padding: 1px 2px;
  }
  .footer__logo img {
   padding-right: 2px;
  }
}





