* {
	margin:0px;
	padding:0px;
}
body {
	margin:0 auto;
	height: 1064px;
	width: 1215px;
}
		/*<-- HEADER -->*/
header {
	/*display: block;*/
	
	height: 36px;
	background-color:#07508f;
}
menu {
	
}
menu > ul {
	float: right;
}
ul {
	height: 36px;
	list-style:none;
}
li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 36px;
}
li:hover {
	background-color: blue;
}
li a {
	
	text-decoration: none;
	color: #cfd4dc;
	font-family: sens-serif;
}
li 4 {
	border-right: 1px solid #56a2dc;
}
		/*<-- /HEADER -->*/
.image {
	clear:both;
	display: block;
	position: relative;
}

