<!DOCTYPE HTML>
<html lang="en-EN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>require</title>
	<link rel="stylesheet" href="css/style.css">
	<script data-main="js/modules" src="js/require.js"></script>

	<script type="text/template" id="wrapper-template">
		<div class="wrapper">
			<ul class="item-list"></ul>
			<div class="controlls">
				<input type="text" class="item-value">
				<button class="item-add">Add list</button>
			</div>
		</div>
	</script>

	<script type="text/template" id="list-template">
		<% for (var i = 0; i < data.length; i++) { %>
			<li class="item"><%= data[i] %> <img src="img/edit.png" data-value="<%= data[i] %>" class="item-edit"><img src="img/delete-row.png" data-value="<%= data[i] %>" class="item-delete"></li>
		<% }; %>
	</script>

</head>
<body>
	
</body>
</html>