@font-face {
	font-family: 'LucidaSansUnicode';
	src: url('../fonts/LucidaSansUnicode-Regular.ttf');
}
@font-face {
	font-family: 'ArialBoldItalic';
	src: url('../fonts/ArialBoldItalic.ttf');
}

* {
	margin: 0px;
	padding: 0px;
	font: 11px Arial, LucidaSansUnicode;
}
.log {
	overflow: hidden;
	padding-bottom: 3px;
}
a {
	text-decoration: none;
	/* 	overflow: hidden; */
}
.recover a:hover {
	text-decoration: underline;
}
body {
	width: 910px;
	margin: 10px auto;
}
.log > img {
	margin-left: 7px;
}
.log > img, .log-line > img {
	padding: 3px 5px 0px 0px;
}
.log > a {
	font-family: Arial;
	font-size: 18px;
	color: grey;
}
::-webkit-input-placeholder {
	color: #B7AFAF;
	padding-left: 5px;
}
.log-line {
	background: linear-gradient(to bottom, #416784, #233758);
	border-radius: 3px;
	margin-left: 23px;
	padding: 0px 0px 0px 5px;
	box-shadow: 3px 3px 4px silver;
	width: 485px;
}
.log > *, .log-line > * {
	float:left;
	display: block;
	line-height: 25px;
	padding-right: 4px;
}

.log-line {}
.login {
	width: 110px;
}
.password {
	margin-left: 5px;
	width: 110px;
} {
	width: 130px;
}
.enter {
	border: none;
	background: transparent;
	color: white;
	padding: 0px 0px 0px 3px;
}
.line {
	color: white;
	padding: 0px 5px 0px 5px;
}

.reg {
	color: white;
	padding-right: 27px;
	text-decoration:none;
}
.recover {
	text-decoration: underline;
	color: silver;
	padding: 0px 5px 0px 0px;
}
.map {
	margin: 2px 0 0 17px;
	padding: 2px 5px;
	border-radius: 10px;
	border: 1px solid silver;
	box-shadow: 0px 3px 4px silver;
	height: 12px;
	width: 60px;
}
.map a {
	padding: 0px 4px;
	float: left;
	list-style: none;
	height: 12px;
	width: 12px;
}
.home:before {
	height: 12px;
	width: 12px;
	background: url('../img/header/home.png')
	position: absolute;
	top: 0px;
	left: 0px;
}
.karta:before {
	height: 12px;
	width: 12px;
	background: url('../img/header/email.png')
	position: absolute;
	top: 0px;
	left: 0px;
}
.email:before {
	height: 12px;
	width: 12px;
	background: url('../img/header/email.png')
	position: absolute;
	top: 0px;
	left: 0px;
}
.baner {
	display: block;
	padding-top: 8px;
	padding-bottom: 4px;
}
.menu  {
	border: 1px solid black;
	height: 32px;
	background: linear-gradient( to top, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
	border-radius: 5px;
	box-shadow: 2px 4px 5px 0.00px rgba(150, 150, 150, 0.75);
}
.menu > ul {
	float:left;
	padding: 7px 5px 3px 40px;
}
.menu > ul:first-child {
	float:left;
	padding: 5px 5px 3px 131px;
}
.menu > ul > li {
	float: left;
	list-style:none;
}
.menu > ul > li > a {
	padding: 2px 15px;
	font: 14px LucidaSansUnicode;
	color: #b3bbbe;
	text-decoration:none;
}
.menu > ul > li :hover {
	color: white;
	background: linear-gradient(to bottom, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
	border-radius: 12px;
}
.menu > .basket  {
	float: left;
}
.basket img {
	float: left;
}
.basket a {
	float: left;
	vertical-align: middle;
	font-size: 12px;
	padding: 2px 5px 0px 2px;
	text-decoration:none;
}
.basket p {
	color: #b3bbbe;
	float: left;
	vertical-align: middle;
	font-size: 12px;
	padding: 1px 2px 0px 9px;
}
.price {
	margin-right: 10px;
}
.basket a:hover, .basket p:hover {
	color: white;
	
}
.basket > ul {
	float: left;
}
.forms, footer {
	margin: 0px auto;
	display: block;
	content: "";
	clear: both;
	padding: 3px 0px 4px 6px;
}
.catalog_type {
	float:left;
	width: 190px;
}
.catalog_goods {
	float:left;
	background: linear-gradient( to bottom, #e5e7e8, #93a7b0);
	width: 527px;
	padding: 14px 0px 3px 0px;
}
.goods {
	position: relative;
	/* margin: 0 0; */
	float: left;
	padding: 0px 2px 25px 19px;
	text-align: center;
	width: 148px;
}
.goods > img {
	padding: 6px 32px 4px 32px;
	border-radius: 5px;
	border: 1px solid silver;
	background-color: white;
}
figcaption {
	font-size: 15px;
	font-weight: bold;
	color: #2a4393;
	height: 15px;
	text-shadow: #9C9C9C 0px 1px 1px;
}
.goods > a {
	font-size: 15px;
	/*font-weight: 600;*/
	color: #2a4364;
	text-decoration: none;
	font-family: "ArialBoldItalic";
	text-shadow: #9C9C9C 0px 1px 1px;
}
.goods > h3 {
	font-size: 12px;
	font-weight: 100;
}
.catalog_type {
	color: #4d5961;
	font-size: 13px;
	font-family: LucidaSansUnicode;
}
.catalog_header {
	border: 1px solid #8d969a;
	border-radius: 13px;
	box-shadow: 1px 1px 2px 0px #8d969a;
	width: 180px;
	margin: 3px 0 13px 0;
	padding: 0px 0px 1px 1px;
}
.catalog_brend .catalog_header {
	margin-bottom: 5px
}
.catalog_header a, .catalog_menu_1lvl a {
	line-height:0px;
	vertical-align:text-top;
	text-decoration: none;
}
.catalog_menu_1lvl a {
	font-size: 14px;
	padding-left: 3px;
}
.catalog_header img {
	padding: 2px 0px 0px 2px;
}
.catalog_menu_1lvl {
	border: 1px solid #8d969a;
	border-radius: 13px;
	/* box-shadow: 1px 2px 5px 0px silver; */
	width: 145px;
	padding: 2px 0px 0px 3px;
	margin: 0px 0px 0px 1px;
}
.catalog_groupe {
	list-style-type: circle;
	margin-left: 15px;
	padding: 6px;
}
.catalog_groupe:hover {
	text-decoration: underline;
	color: #213555;
	font-style: italic;
	font-weight:700;
	padding: 6px;
}
.catalog_menu ul {
	margin-left: 35px;
}
.catalog_brend {
	float:left;
	width: 180px;
	margin: -3px 0px 0px 1px;
	padding-left: 9px;
}
.catalog_brend .catalog_menu_1lvl {
	margin: 14px 0px 0px 16px;
	width: 130px;
}
.catalog_brend .catalog_menu {
	margin-bottom: 21x;
}
.catalog_brend .catalog_menu .catalog_menu_1lvl:nth-child(5) {
	margin: 8px 0px 3px 13px
}

.catalog_menu label {
	height: 20px;
	margin-top: 0px;
	padding-top: 6px;
	padding-left: 27px;
	font: 14px LucidaSansUnicode;
}
.catalog_menu label a {
	vertical-align: super;
	padding-left: 5px;
}
label {
	height: 20px;
	display: block;
}
.submit {
	margin: 12px 0px 0px 25px;
	padding: 7px;
	width: 80px;
	border-radius: 13px;
	border: none;
	box-shadow: 0px 3px 3px 0px silver;
	background-image: linear-gradient(to bottom, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
	color: white;
}


.logo {
	display: flex;
	justify-content: center;
}
.model > img {
	padding: 0px 5px;
	vertical-align: middle;
}
.model {
	padding: 35px 0px 25px 58px;
	width: 750px;
	margin:auto;
}

.link {/* 	background: linear-gradient( to bottom, #e5e7e8, #93a7b0); */background: #2e3d4e;display: block;font-family: "Arial";padding-top: 15px;}
.link > ul > li {
	color: #213555;
	display: inline;
}
.link > ul {
	text-align: center;
}
.link > ul > li > a {
	color: #919da5    ;
}
.link > ul > li > a:hover {
	color: #3f7f9b  ;
}
.link > p {
	color: #724943;
	padding: 15px 0 50px 0;
	text-align: center;
}
