  $font-title:      UbuntuMedium;
  $font-article:    13px;
  $text-color:      #fff;
  $exclusive-text:  #248cec;
  $minW:            1150px;
  $maxW:            1920px;
  $position:        left;

@font-face {
    font-family: "TimesNewRomanRegular";
    src: url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.eot");
    src: url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.woff") format("woff"),
    url("../fonts/TimesNewRomanRegular/TimesNewRomanRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UbuntuLight";
    src: url("../fonts/UbuntuLight/UbuntuLight.eot");
    src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"),
    url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UbuntuMedium";
    src: url("../fonts/UbuntuMedium/UbuntuMedium.eot");
    src: url("../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"),
    url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "UbuntuCondensedRegular";
    src: url("../fonts/UbuntuCondensedRegular/UbuntuCondensedRegular.eot");
    src: url("../fonts/UbuntuCondensedRegular/UbuntuCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/UbuntuCondensedRegular/UbuntuCondensedRegular.woff") format("woff"),
    url("../fonts/UbuntuCondensedRegular/UbuntuCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  cursor: default;
}
body {
  max-width: $maxW;
  margin: 0 auto;
}
.wrapper {
 margin: 0 auto;
 width: $minW;
 /* background-color: #f7f7f7; */
 position: relative;
 /* overflow: hidden; */
}
.header {
  margin: 37px 0px;
}
.header__logo {
  height: 36px;
}
.header__logo--settings {
  float: $position;
  overflow: hidden;
  margin-right: 11px;
  text-align: center;
}
.header__logo--text {
  float:$position;
  font-size: 12px;
  line-height: 20px;
  font-family: "UbuntuLight";
}
.header__logo--text h3 {
  font-size: 30px;
  line-height: 24px;
  font-family: $font-title;
}
.header__logo--nav {
  float: right;
}
.settings {
  position: relative;
  top: -38px;
  left: 18px;
  z-index: 1;
}
.header__logo--nav {
  line-height: 40px;
}
.nav__item li {
  display: inline-block;
  margin: auto 12px;
}
.nav__item li a {
  height: 16px;
  width: 16px;
  display: block;
}
.nav__link1 {
  background: url('../../img/nav-sprite.png') 0px 0px no-repeat;
}
.nav__link1 a:hover {
  background: url('../../img/nav-sprite.png') 0px -17px no-repeat;
}
.nav__link2 {
  background: url('../../img/nav-sprite.png') -17px 0px no-repeat;
}
.nav__link2 a:hover {
  background: url('../../img/nav-sprite.png') -17px -17px no-repeat;
}
.nav__link3 {
  background: url('../../img/nav-sprite.png') -34px 0px no-repeat; 
}
.nav__link3 a:hover {
  background: url('../../img/nav-sprite.png') -34px -17px no-repeat; 
}
.nav__link4 {
  background: url('../../img/nav-sprite.png') -51px 0px no-repeat; 
}
.nav__link4 a:hover {
  background: url('../../img/nav-sprite.png') -51px -17px no-repeat; 
}
.nav__link5 {
 background: url('../../img/nav-sprite.png') -68px 0px no-repeat; 
}
.nav__link5 a:hover {
 background: url('../../img/nav-sprite.png') -68px -17px no-repeat; 
}

/*menu*/

.menu {
  background-color: #2a2d32;
  height: 55px;
  margin-bottom: 40px;
}
.menu__main {
  float: $position;
  display: block;
  margin-left: -47px;
}
.menu__link {
  display: inline-block;
  width: 130px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-right: 1px solid #151515;
  margin-left: -5px;
  cursor: pointer;
}
.menu__link:first-child {
  background-color: $exclusive-text;
  margin-left: 0px;
  font-size: 14px;
}
/* .menu__link:hover {
  background-color: $exclusive-text;
  opacity: 0.5;
} */
.menu__link a {
  color: $text-color;
  text-decoration: none;
  font-family: "UbuntuCondensedRegular";
}
.menu__link:hover a{
  color: #f4b60d;
}
.search {
  float: right;
  margin: 8px 5px 0px 0px;
  background: rgba(255,255,255,0.05);
}
input[type="text"] {
  width: 240px;
  line-height: 30px;
  border: none;
  padding: 5px 5px 5px 10px;
  background: url('../../img/search.png') 225px 13px no-repeat;
  color: $text-color;
  outline: 1px solid #181a1d;
}
::-webkit-input-placeholder {
  color: $text-color;
  opacity: 0.2;
  padding-left: 5px;
}
.colortext {
  background: #fff;
} 

/*slider*/

.slider__text {
  position: absolute;
  bottom: 40px;
  left: 36px;
  background: url('../../img/factory-text.png') no-repeat;
  font-size: 54px;
  padding: 29px;
  line-height: 50px;
  color: $text-color;
  font-family: $font-title;
  z-index: 1;
}
.slider__text a {
  color: #f4b60d;
  font-family: $font-title;
}

/*content*/

.content {
  display: block;
  overflow: hidden;
  margin: 75px 0px 88px 0px;
}
.content__main {
}
.content__text {
  width: 120px;
  float: $position;
  position: absolute;
  left: -121px;
  font-size: 90px;
  color: #2a2b2e;
  opacity: 0.1;
  line-height: 70px;
}
.content__block {
  width: 235px;
  float: $position;
  font-size: $font-article;
  position: relative;
  margin-left: 121px;
  font-family: $font-title;
}
.second-content {
  margin: 0px 45px 0px 155px;
}
.content__block h3 {
  padding: 18px 0 25px 0;
  font-size: 20px;
}
.content__block p {
  height: 55px;
  overflow: hidden;
  margin-bottom: 25px;
  font-family: "Arial";
  line-height: 20px;
}
.content__icon {
  display: block;
  width: 32px;
  height: 32px;
}
.icon-1 {
  background: url('../../img/services-sprite.png') 0px 0px no-repeat;
}
.icon-2 {
  background: url('../../img/services-sprite.png') -33px 0px no-repeat;
}
.icon-3 {
  background: url('../../img/services-sprite.png') -66px 0px no-repeat;
}
.text-link {
  font-weight: 900;
  text-decoration: none;
  color: black;
  margin-right: 8px;
  float: $position;
}
.content__link:hover .text-link {
  color: blue;
}
.content__link:hover .content__block--img {
  background-position: 0px 0px;
}
.content__block--img {
  background: url('../../img/arow.png') 0px -10px no-repeat;
  float: $position;
  height: 9px;
  width: 10px;
  display: block;
  margin-top: 3px;
  cursor: pointer;
}

/*services*/

.services {
  background-color: #2a2d32;
  font-family: $font-title;
  font-size: 24px;
  color: $text-color;
  overflow: hidden;
  margin: 0;
  min-width: $minW;
  max-width: $maxW;
}
.service__title {
  margin: 47px 0 58px 0;
}
.service__works {
  margin-bottom: 70px;
  overflow: hidden;
}
.service__present {
  overflow: hidden;
  float: $position;
  width: 263px;
  margin-right: 30px;
  cursor: pointer;
}
.service__present:last-child {
  margin-right: 0px;
}
.service__present p {
  margin: 35px 0 00;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: $text-color;
}
.service__present:hover p {
  color: #f4b60d;
}
.service__img img {
  position: relative;
  width: 260px;
  height: 260px;
}
.service__present:hover::before {
  visibility: visible;
}
.service__present::before {
  position: absolute;
  visibility: hidden;
  width: 260px;
  height: 260px;
  background: url(../../img/foto-hover.png);
  font-size: 72px;
  content: "";
}

/*figure*/

.figure {
  background: #f7f7f7;
  min-width: $minW;
  max-width: $maxW;
  overflow: hidden;
}
.news {
  float:$position;
  width: 50%;
  margin-top: 50px;
}
.news__title {
  font-size: 24px;
  font-family: "TimesNewRomanRegular";
  margin-bottom: 50px;
}
.news__block {
  width: 600px;
}
.news__img {
  position: relative;
  float: $position;
  height: 150px;
}
.news__img--calendar {
  position: absolute;
  top: 10px;
  left: -20px;
}
.news__text {
  padding: 10px 35px 0 35px;
  color: #8a8a8a;
  float: $position;
  width: 375px;
  margin-bottom: 30px;
}
.news__text a {
  font-family: $font-title;
  font-size: $font-article;
  text-decoration: none;
  font-weight: bold;
}
.news__text p, .news__text p a  {
  font-family: "Arial";
  font-size: $font-article;
  line-height: 19px;
}
.news__edit {
  padding: 7px 0 19px 0;
}
.news__text--title {
  color: #2a2d32;
  font-size: 16px;
}
.news__text--title:hover {
  color: $exclusive-text;
}
.banners {
  float: right;
  width: 50%;
  margin-top: 50px;
}
.banner__title {
  font-family: $font-title;
  font-size: 24px;
  margin-bottom: 50px;
}
.banners__main {
  width:100%;
  z-index: 1;
  font-family: $font-title;
  margin-bottom: 5px;
  overflow:hidden
}
.banners__main--title {
  width: 520px;
  padding-left: 15px;
}
.banners__main--add {
  width: 37px;
  border-right: 1px solid rgba(255,255,255,0.2);
  text-align: center;
  box-sizing: border-box;
}
.banners__main--add:before {
  content: '+';
}
.banners__main--add, .banners__main--title {
  background: #fff;
  float: $position;
  line-height: 38px;
  font-size: $font-article;
  outline: 1px solid #e8e8e8;
  height: 100%;
}
.banners__text {
    display: none;
  color: #8a8a8a;
  font-family: "Arial";
  font-size: $font-article;
  line-height: 19px;
  padding: 68px 0 38px 38px;
}
.banners__main:active .banners__text {
  display: block;
}
.banners__main:active > .banners__main--add {
  border-right: 1px solid rgba(255,255,255,0.2);
}
.banners__main:active .banners__main--add,
.banners__main:active .banners__main--title {
  background: #f4b60d;
}
.banners__main:active .banners__main--add:before {
  content: '-';
}

/*aside*/

.aside__logo {
  margin: 100px 0 105px 0;
}
.aside__logo img {
  padding-right: 3%;
}
.aside__logo img:last-child {
  padding-right: 0;
}

/*footer*/

.footer, .end {
  background: #2a2d32;
  overflow: hidden;
  min-width: $minW;
  max-width: $maxW;
}
.footer__block {
  color: $text-color;
  width: 25%;
  float: $position;
  margin-bottom: 70px;
}
.footer__title {
  padding: 62px 0 38px 0;
  cursor: default;
  font-size: 16px;
}
.footer__link {
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  margin-right: 40px;
  line-height: 35px;
} 
.footer__link:last-child {
  border: none;
}
.footer__link a {
  opacity: 0.3;
  cursor: pointer;
}
.footer__link a:hover {
  color: $exclusive-text;
  opacity: 1;
}
.end__content {
  background: rgba(255,255,255,0.05);
  margin: 0 8px;
  line-height: 30px;
  overflow: hidden;
}
.end__block {
  padding: 0px 46px 0 26px;
  color: $text-color;
  float: $position;
  font-size: 12px;
  font-family: "Arial";
}
.end__block p {
    opacity: 0.2;
    cursor: auto;
}
.end__block:last-child {
  float: right;
}
.end__block::before {
  position: absolute;
  width: 12px;
  height: 15px;
  content: "";
}
.place::before {
  top: 7px;
  left: 0px;
  background: url(../../img/white-sprite.png) -15px 0px;
}
.fone::before {
  top: 7px;
  left: 345px;
  width: 11px;
  background: url(../../img/white-sprite.png) -28px 0px;
}
.email::before {
 top: 9px;
 left: 505px;
 width: 15px;
 background: url(../../img/white-sprite.png) -40px 0px;
}
.zero::before {
  background: none;
}