.clear {
	margin-top: -1px;
	height: 1px;
	clear:both;
	zoom: 1;
}
.slider {
	width: 236px;
	height: 400px;
	margin: 0 10px;
	position: relative;
	overflow: hidden;
	float: left;
}	
.steps__slider {
	min-width: 768px;
	height: 400px;
	position: relative;
	overflow: hidden;
}
.steps__slider::-moz-selection {
	background: transparent;
	color: #fff;
	text-shadow: none;
}
.steps__slider::selection {
	background: transparent; 
	color: #fff;
	text-shadow: none;
}
.slide-list {
	position: relative;
	/* height: 100%; */
}
.slide-wrap {
	width: 10000000px;
}
.slide-item {
	position: relative;
	width: 236px;
	padding: 0 10px;/
	float: left;
	float: left;
}
.navy {
	position: absolute;
	top: 40px;
	z-index: 1;
	height: 55px;
	width: 30px;
	cursor: pointer;
}
.prev-slide {
	left: 21px;
	background: url(../../public/img/slider/left-arrow.png) 0px 12% no-repeat;
}
.next-slide {
	right: 21px;
	background: url(../../public/img/slider/right-arrow.png) 0px 0% no-repeat;
}
.navy.disable {
	background: #dbdbdb;
}