* {
margin:0px;
padding:0px;
}
.main {
	box-shadow: 0 6px 6px 6px #d5d6d7;
	background-color: white;
	font-size: 11px;
	margin: 0 auto;
	width: 1280px;
}
header {
	padding: 0;
	margin: 0 auto;
	position: relative;
}
/*.box_1 {background-color: #128aa7; border-bottom: 1px solid #5ef0ff; height: 28px;}*/
/*.box_2 { background: linear-gradient(to bottom, #11cde1, #fff); height: 142px;}*/
/*.box_3 {background: linear-gradient(to bottom, #40c6d3, #0c739f); border-bottom: 1px solid #d5d6d7; height: 846px;}*/


.content {
	margin: 0 auto;
	width: 1000px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.up {
	overflow:hidden;
	display: block;
	padding: 0;
	margin: 0 auto;
	border-bottom: 1px solid #56CBD8;
	background-color:#FFF;
}
.info {
	padding-left: 641px;
	line-height: 18px;
	font-size: 12px;
}
.info h1 {
	font-size: 12px;
	font: bold 12px/20px;
	padding-bottom: 5px;
}	
.contactu {
	padding: 10px 0 20px 202px;
	color: #41a1b9;
}
.contactu a {
	padding-bottom: 9px;
	text-decoration:none;
	color: #41a1b9;
}
.country {
	padding-bottom: 34px;
}
.country a {
	text-decoration:none;
	color: #41a1b9;
}
.country_1 {
	float: left;
	text-align: center;
}
.country_2 {
	padding-left: 18px;
	float: left;
	text-align: center;
}
.country_3 {
	padding-left: 16px;
	float: left;
	text-align: center;
}
.country_4 {
	padding-left: 15px;
	float: left;
	text-align: center;
}
.country_5 {
	padding-left: 10px;
	float: left;
	text-align: center;
}
.country_6 {
	padding-left: 8px;
	float: left;
	text-align: center;
}
.logo {
	float: left;
}
.menu {
	height: 28px;
	width: auto;
	font-size: 16px;
	font-family: Georgia;
	box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.8);
}
ul {
	list-style: none;
}
/*.topmenu:after {*/
	/*display: block;*/
	/*content: ".";*/
	/*clear: both;*/
	/*visibility: hidden;*/
	/*height: 0;*/
}
.topmenu {
	position: absolute;
	display: block;
	top:100px;
	left:50px;
}
.topmenu > li {
	float: left;
	height: 28px;
	position: relative;
	background: #323232;
	padding: 8px 29px 0px 29px;
}
.topmenu > li > a {
	display: block;
	color: white;
	text-decoration:none;
	list-style: none;
	margin-bottom: 8px;
}
.sumenu {
	left: -9999px;
	display: none;
	box-shadow: 0 4px 10px -4px rgba(0,0,0,0.75);
}
.submenu > li {
	float: none;
	display: block;
	padding-bottom: 6px;
	background: #323232;
}
.submenu > li > a {
	color: white;
	text-decoration:none;
	list-style: none;
}
.topmenu li:hover {
	display: block;
	left: 0px;
}
.submenu > li > a:hover {
	text-decoration: underline;
}
.article {
	clear: both;
	display: block;
	/*position:relative;*/
	/*overflow:hidden;*/
	margin: 0;
	border-top: 2px solid black;
	background-color: white;
	height:auto;
}
.article p {
	color: #424c43;
	font-size: 16px;
	line-height: 26px;
}
.left {
	clear: both;
	display: block;
	float: left;
	width: 20%;
}
.center {
	display: block;
	float: left;
	width: 58%;
}
.right {
	display: block;
	float:left;
	width: 20%;
}
.left, .right {
	padding-left: 10px;
}

h2 {
	color: #424c43;
	text-align:center;
	font-size: 22px;
	padding-top: 8px;
}


.end {
	margin: 0 auto;
	padding: 0;
	text-align:center;
	line-height: 30px;
	height: auto;
	border: 1px solid white;
	clear: both;
}


.article:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
